[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=d-feet D-Bus Tool
Name[en_US]=d-feet D-Bus Tool
#Icon=TBD
# FIXME - path?
Exec=/usr/local/bin/d-feet

