[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Terminal (cross env)
Icon=/usr/share/pixmaps/lxterminal.xpm
Exec=/usr/bin/lxterminal -e "bash --init-file ~/gdp-sdk/yocto-sdk/setupenv"
